div.home-page-container
{
  display: flex;
  flex-direction: column;
}

div.home-page-tabs-row-container
{
  width: 100%;
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;
}

div.home-page-tabs-container
{
  width: 360px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 43px;
}

div.page-tab
{
  padding: 10px 0 16px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.home-page-new-project-button-plus-icon
{
  margin-right: 5px;
}

button.home-page-new-project-button
{
  width: 143px;
  height: 42px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #292929;
  border-style: none;
  border-radius: 2px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  transition-duration: 0.3s;
}

button.home-page-new-project-button:hover
{
  background-color: #595959;
}

div.home-page-cards-container
{
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;
}

div.home-page-report-container
{
  width: 615px;
  height: 207px;
  padding: 27px 24px 0 62px;
  margin-bottom: 33px;
  background-color: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

div.home-page-report-top-row-container
{
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
}

div.home-page-report-top-left-container
{
  padding: 2px 0;
  display: flex;
  gap: 31px;
}

div.home-page-report-total-home-value-title
{
  font-family: Arial;
  font-weight: 700;
}

div.home-page-report-total-home-value
{
  color: #000000;
  font-family: Inter;
  font-weight: 700;
  line-height: 19px;
}

div.home-page-report-top-right-container
{
  display: flex;
  align-items: center;
  gap: 19px;
}

div.home-page-report-delta-container
{
  font-family: Inter;
  font-weight: 300;
  line-height: 19px;
}

div.home-page-report-full-link-container
{
  display: flex;
  align-items: center;
  font-family: Arial;
  font-size: 10px;
  line-height: 11px;
}

a.home-page-report-full-link
{
  padding-bottom: 1px;
  font-size: 10px;
  color: #006CCF;
}

div.home-page-report-dropdown-container
{
  width: 151px;
  height: 26px;
  padding: 6px 16px 5px 16px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9E9E9E;
  background-color: #EEEEEE;
  font-family: Roboto;
  font-size: 10px;
  letter-spacing: 0.0044em;
}

div.home-page-report-info-container
{
  height: 84px;
}

div.home-page-report-info
{
  width: 452px;
  height: 21px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

div.home-page-bottom-container
{
  display: flex;
  justify-content: space-between;
}

div.home-page-budget-container
{
  width: 294px;
  height: 233px;
  background-color: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

div.home-page-budget-header-container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 84px;
}

div.home-page-budget-title-container
{
  font-family: Arial;
  font-weight: 700;
}

div.home-page-tracker-container
{
  width: 294px;
  height: 233px;
  padding: 16px 24px 34px 19px;
  background-color: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.home-page-tracker-header-container
{
  width: 100%;
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.home-page-tracker-header-title-container
{
  font-family: Arial;
  font-weight: 700;
}

div.home-page-project-list-container
{
  width: 100%;
}