div.home-page-container
{
  display: flex;
  flex-direction: column;
}

div.home-page-tabs-row-container
{
  width: 100%;
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;
}

.home-page-new-project-button-plus-icon
{
  margin-right: 5px;
}

button.home-page-new-project-button
{
  width: 143px;
  height: 42px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #292929;
  border-style: none;
  border-radius: 2px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  transition-duration: 0.3s;
}

button.home-page-new-project-button:hover
{
  background-color: #595959;
}