div.home-page-container
{
  display: flex;
  flex-direction: column;
}

div.home-page-tabs-container
{
  width: 360px;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 43px;
}

div.page-tab
{
  padding: 10px 0 16px;
}

div.home-page-cards-container
{
  width: 100%;
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;
}

div.card-container
{
  width: 187px;
  height: 260px;
  background-color: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.20);
  border-radius: 5px;
}