@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

div.app-container
{
  display: flex;
}

main.main-container
{
  width: 978px;
  padding: 135px 211px 0 132px;
}